<form action="/games/<%=@game.id%>" method="POST" autocomplete="on">
    <input id="hidden" type="hidden" name="_method" value = "PATCH">
    <label for="games">
    <%=@game.name%> <input id="name" type="text" value="<%=@game.name%>" name="game[name]">
    <%=@game.release_year%> <input id="release_year" type="integer" value=<%=@game.release_year%> name="game[release_year]">
        <br></br>
    <input type="submit" value="submit">
    <a href="/games"><h2>Full List of Games</h2></a>
</form> 