<div style="text-align: center">

    <h1> Found that Game: </h1>

    <h2>Name: <%= @game.name %></h2>
    <h2>Release Year: <%= @game.release_year %></h2>
    <h2>Company: <a href="/companies/<%= @game.company[:id]%>"><%= @game.company[:name] %> </h2>

    <a href="/games/<%=@game.id%>/edit"><h2>Edit This Game</h2></a>
    <a href="/games"><h2>Full List of Games</h2></a>

    <form method="post" action="/games/<%=@game.id%>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete This Game" id="deltron">
    </form>


</div>