
    <h1> Found that Company: </h1>

        <br></br>

    <h2>Name: <%= @company.name %></h2>
    <h2>Location: <%= @company.location %></h2>
    <h2>Founded: <%= @company.founded %></h2>

    <h2>GAMES:</h2>
    <ul>
    <% @company.games.each do |game| %>
        <li><p><a href="/games/<%=game.id%>" style="text-decoration: none"> <%= game.name %></p> </li>
    <% end %> </ul>

        <br></br>
    
    <a href="/companies/<%=@company.id%>/newgame"><h3>Add New Game</h3></a>
    <a href="/companies/<%=@company.id%>/edit"><h3>Edit This Company</h3></a>
    <a href="/companies"><h3>Full List of Companies</h3></a>

        <br></br>

    <form method="post" action="/companies/<%=@company.id%>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete This Company" id="deltron">
    </form>